  <div id="popupBg"></div>
  <div class="header">
    <div class="container clearfix">
      <div class="logo pull-left">
        <a href="https://www.hartleylab.com/" target='_blank' >
          <img src=<%= image_url("logo.png")%> title="Hartley Lab" alt="Hartley Lab">
        </a>
      </div>
      <h5 class="pull-right">
        <a href="https://www.hartleylab.com/" target='_blank'  title="Hartley Lab">www.hartleylab.com</a>
      </h5>
    </div>
  </div>
  <section class="mvpWrap">
    <div class="mvpInner">
      <div class="container">
        <h1>MINIMUM VIABLE PRODUCT</h1>
        <div class="mvpFormWrap">
          <div class="beforeSubmit ">
            <div class="mvpEssentials">
              <h2>MVP - Taking the Bull by its Horns</h2>
              <div class="row">
                <div class="col-md-8">
                  <p>
                    The Business Need, Building Blocks and the Best Practices Entering the market with a Minimum Viable Product (MVP) allows you to learn fast, and increases the chances of success.
                  </p>
                </div>
                <div class="col-md-4">
                  <img src=<%= image_url('essentials.jpg')%>>
                </div>
              </div>
              <h4>Download Hartley’s eBook on Key Considerations in Building an MVP.</h4>
              <div class="row">
                <div class="col-md-8">
                  <div class="keyTakeaways">
                    <h5>Key Takeaways from the MVP ebook:</h5>
                    <ul class="list-unstyled mainList">
                      <li><i class="iconhl-grayCheck"></i>The strategy behind a MVP (Minimum Viable Product) creation</li>
                      <li><i class="iconhl-grayCheck"></i>Key factors/techniques in building a MVP (Technical and Business factors)</li>
                      <li><i class="iconhl-grayCheck"></i>The best practices:
                        <ul class="subList">
                          <li>The industry best practices</li>
                          <li>Case study showcase how Hartley has helped customers built great products (MVPs) in shortest time-to-market</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <%= form_tag(mvp_create_path, method: :post, name: "mvpForm", class:"mvpForm") do %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <div class="row">              
                <div class="col-md-6 form-group">
                  <label for="">Your Name <sup>*</sup></label>
                  <input type="text" class="form-control" name="mvpForm[name]" id="username" required>
                  <span class="help-inline valid-name" style="display:none">Please enter valid name</span>
                  <span class="help-inline enter-name" style="display:none">Please enter your name</span>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="form-group col-md-8">
                      <label>Phone*</label>
                      <input class="form-control" type="tel" id="phone" name="mvpForm[phone]">
                      <span class="help-inline enter-phone" style="display:none">Please enter phone number</span>
                      <span class="help-inline valid-phone" style="display:none">Please enter numbers only</span>
                    </div>
                    <div class="form-group col-md-4 hidden-xs">
                      <label>Ext</label>
                      <input class="form-control" type="tel" name="mvpForm[ext]">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">              
                <div class="col-md-6 form-group">
                  <label for="">Your Business Email <sup>*</sup></label>
                  <input type="email" class="form-control" name="mvpForm[email]" id="useremail" required>
                  <span class="help-inline valid-email" style="display:none">Please enter valid email address</span>
                  <span class="help-inline enter-email" style="display:none">Please enter your email address</span>
                </div>

                <div class="col-md-6 organizationField form-group">
                  <label for="">Company or Organization</label>
                  <input type="text" class="form-control" name="mvpForm[company]" id="usercompany">
                </div>
              </div>
              <h5 class="marked">Fields marked with <sup>*</sup> are mandatory</h5>
              <button type="submit" class="ebookDownload mvpSubmit">Download the eBook</button>
            <% end %>

            <div class="afterSubmit">
              <h4 class="startDownload">
                Your e-book will be downloaded in a while.
              </h4>
              <a href="https://www.hartleylab.com/#mailStatus" target="_blank" class="btn btn-green" title="Get in touch with us">Get in touch with us</a>
              <span class="orText">OR</span>
              <a href="https://calendly.com/hartleylab/rise/" target="_blank" class="btn btn-white" title="Meet us at Rise">Meet us at Rise</a>
            </div>
          </div>
        </div>
        <div class="makeItSimple frictionSimple">
        <div class="row">
          <div class="col-md-5 col-sm-6 col-sm-push-6 col-md-offset-1">
            <div class="aboutUs commonAbout">
              <h2 class="clientHeading">WHY WE&#39;RE HERE</h2>
              <p>
                We are a mission-focused company driven through the passion for solving real world problems through technology. We are a team of 50+ Engineers dedicated towards delivering intelligent solutions through technical brilliance and impeccable expertise.
              </p>
              <p> We not only "Make IT Smart" but we  "Make IT Simple"  for the people and businesses, irrespective of the scale, for them to focus on more important things, like their core business! 
              </p>
            </div>
            <div class="weCanDo">
              <h4 class="workedHeading">
                OUR SERVICE SPECTRUM 
              </h4>
              <ul class="list-unstyled weCanList">
                <li class="clearfix">
                  <div class="iconWrap">
                    <i class="iconhl-uiux"></i>
                  </div>
                  <div class="weCanContent">
                    <h3>UX &amp; UI Design</h3>
                    <p>Simplify your product with design sprints, research, and user research.</p>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="iconWrap">
                    <i class="iconhl-monitor"></i>
                  </div>
                  <div class="weCanContent">
                    <h3>WEB ENGINEERING</h3>
                    <p>Write high-quality PHP, JavaScript, Ruby, Python, Go, and Elixir code</p>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="iconWrap">
                    <i class="iconhl-mobile"></i>
                  </div>
                  <div class="weCanContent">
                    <h3>MOBILE ENGINEERING</h3>
                    <p>Build and release apps using iOS, Android, or Unity3D.</p>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="iconWrap">
                    <i class="iconhl-testing"></i>
                  </div>
                  <div class="weCanContent">
                    <h3>TESTING &amp; ASSURANCE</h3>
                    <p>Helping minimizing risk, ensure product quality and accelerate time-to-market.</p>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="iconWrap">
                    <i class="iconhl-devops"></i>
                  </div>
                  <div class="weCanContent">
                    <h3>DevOps</h3>
                    <p>We provide DevOps as a managed service to development teams and businesses who run or want to run applications in the cloud.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-sm-pull-6">
            <!-- <h2 class="clientHeading">Make IT Simple</h2> -->
            <div class="videoHeading clearfix">
              <h4 class="workedHeading">OUR WORK SPEAKS VOLUMES &amp; <br> OUR CLIENTS VOUCH FOR IT</h4>
              <div class="navigateArrows">
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#videoCarousel" data-slide="prev" title="Previous" alt="Previous">
                </a>
                <a class="right carousel-control" href="#videoCarousel" data-slide="next" title="Next" alt="Next">
                </a>
              </div>
            </div>  
            <div id="videoCarousel" class="commonVideoCarousel carousel slide" data-ride="carousel" data-interval="0">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="videoListItem">
                    <a href="javascript:void(0);" class="videoLink videoImage" rel="5xA8ed42--Q" data-title="Member Only Hotel Rates">
                      <img src="https://i3.ytimg.com/vi/5xA8ed42--Q/maxresdefault.jpg">
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="videoListItem">
                    <a href="javascript:void(0);" class="videoLink videoImage" rel="fsWesrmDcvQ" data-title="Member Only Hotel Rates">
                      <img src="https://i3.ytimg.com/vi/fsWesrmDcvQ/maxresdefault.jpg">
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonialWrap">
                    <p>The Hartley team has been incredible in translating business intelligence into intuitive user experiences. They've managed complex project objectives with tech savvy and have become our trusted resource in developing our satellite data platform. We've come a long way in a short time with their experienced staff who have helped with everything from early planning, design, storyboarding, and development, to testing, execution, and follow-up support. We admire their engagement, dedication, and professionalism and are excited about all the great things we will build together!</p>
                    <h5>- John Frost</h5>
                    <h5>( Head of TerraServer.com Division, PrecisionHawk )</h5>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonialWrap">
                    <p>I've had the pleasure of working with Hartley Lab team for the past few months and I am very pleased with the quality of work they deliver. Hartley team is organised, and they are willing to work long hours to get the job done right.</p>
                    <h5>- Charles Kelly</h5>
                    <h5>( Director Of Software Product Management, PrecisionHawk )</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="workedList">
              <h4 class="workedHeading">OUR CLIENTELE</h4>
              <div id="clientCarousel" data-interval="4000" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <ul class="row list-unstyled clientList first">
                      <li class="col-xs-6">
                        <img src=<%= image_url("terraserver.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("tripstreak.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("recruiter.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("zensar.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("third-home.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("intele-travel.png")%>>
                      </li>
                      
                      <li class="col-xs-6">
                        <img src=<%= image_url("msxi.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("tlx.png")%>>
                      </li>
                    </ul>
                  </div>
                  <div class="item">
                    <ul class="row list-unstyled clientList">
                      
                       <li class="col-xs-6">
                        <img src=<%= image_url("bigbinary.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("ctc.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("ezmove.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("pm.png")%>>
                      </li>
                      
                      <li class="col-xs-6">
                        <img src=<%= image_url("geoawesomeness.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("tavisca.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("latas.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("precisionflight.png")%>>
                      </li>
                    </ul>
                  </div>
                  <div class="item">
                    <ul class="row list-unstyled clientList">
                      <li class="col-xs-6">
                        <img src=<%= image_url("ph.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("itc.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("tripsmart.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("orenda.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("drachmae.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("dypatil.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("mcd.png")%>>
                      </li>
                      <li class="col-xs-6">
                        <img src=<%= image_url("utm.jpg")%>>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#clientCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#clientCarousel" data-slide-to="1"></li>
                  <li data-target="#clientCarousel" data-slide-to="2"></li>
                </ol>
              </div>
              
            </div>
          </div>
        </div>
        <div class="workDoneWrap clearfix">
          <div class="row">
            <div class="col-sm-4">
              <div class="workDone">
                <h5>Developed</h5>
                <h3>49+ APPLICATIONS</h3>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="workDone">
                <h5>Worked in</h5>
                <h3>10+ INDUSTRIES</h3>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="workDone">
                <h5>Associated with</h5>
                <h3>30+ GLOBAL CLIENTS</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="corner">
      <img src=<%= image_url("corner.png")%> >
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="clearfix">
        <ul class="clearfix list-unstyled socialLinks">
          <li>
            <a target="_blank" href="https://www.linkedin.com/company/hartley-lab" title="LinkedIn">
              <i class="icon-linkedIn"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.facebook.com/HartleyLab/" title="Facebook">
              <i class="icon-facebook"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://twitter.com/hartleylab" title="Twitter">
              <i class="icon-twitter"></i>
            </a>
          </li><li>
            <a target="_blank" href="https://www.instagram.com/hartley_lab/" title="Instagram">
              <i class="icon-insta"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.youtube.com/channel/UC2wvPee8Zuu_JXjfD2sdXGA" title="YouTube">
              <i class="icon-youtube"></i>
            </a>
          </li>
        </ul>
        <h6 class="copyright"> &copy; 2017 Hartley Lab. All Rights Reserved.</h6>
      </div>
    </div>
  </footer>
  <!-- video popup start -->
  <div id="videoPopup" class="videoPopup">
    <a href="javascript:void(0);" class="closePopup">&times;</a>
    <div class="videoContainer">
    </div>
  </div>
 
  <!-- country code -->
 
  <script type="text/javascript">
    $(document).ready(function(){
      $("#phone").intlTelInput({});

      // Video Tutorails
      //call video for event popup (video page)
      $('.videoLink').on('click', function(){

        var videoId = $(this).attr('rel');
        var title = $(this).data('title');
          $('.videoContainer').html('<div class="video-container"><iframe src="https://www.youtube.com/embed/'+ videoId +'?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe></div>');
          $('#popupBg, #videoPopup').fadeIn(200);
      });
      // close video
      $('#popupBg, .closePopup').click(function(event) {
        $('.videoContainer').empty();
        $('#popupBg, #videoPopup').fadeOut(200);
      });
      // end

      // Download button click
      $( function() {
        $("#useremail").change(function(){
          var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          var compare = regex.test( $('#useremail').val() )
       
          if(!compare){ 
            $('.enter-email').hide()
            $('.valid-email').show();
            $('.valid-email').parent().addClass('has-error');
            event.stopPropagation();
            event.preventDefault();
            return
          }

        });


        $("#username").change(function(){
           var regex =/^([^0-9]*)$/
           var compare = regex.test( $('#username').val() )

           if(!compare){ 
            $('.enter-name').hide()
            $('.valid-name').show();
            $('.valid-name').parent().addClass('has-error');
            event.stopPropagation();
            event.preventDefault();
            return
          }
        });

        //--->
        $('.mvpSubmit').on('click',function(event){
          var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          var compare = regex.test( $('#useremail').val() )
          var regex =/^([^0-9]*)$/
          var compare2 = regex.test( $('#username').val() )
          var reg = /^\d+$/;
          var compare3 = reg.test( $('#phone').val() );
        

           
          if($('#username').val() == "" || $('#useremail').val() == "" || $('#phone').val() == "" || !compare2 || !compare || !compare3){
            
            if( !compare3 ){
              $('.valid-phone').show();
              $('.enter-phone').hide();
              $('.valid-phone').parent().addClass('has-error');
            }
            if( $('#username').val() == ""){
              $('.valid-name').hide();
              $('.enter-name').show();
              $('.enter-name').parent().addClass('has-error'); 
            }
            if( $('#useremail').val() == ""){
              $('.valid-email').hide();
              $('.enter-email').show();
              $('.enter-email').parent().addClass('has-error');
            }
            if( $('#phone').val() == ""){
              $('.valid-phone').hide();
              $('.enter-phone').show();
              $('.enter-phone').parent().addClass('has-error');
            }
            event.stopPropagation();
            event.preventDefault();
            return
          }
          $('.has-error').removeClass('has-error');
          $('.help-inline').hide();
          $('#phone').val( $(".country[class*='active']").attr("data-dial-code") + '-' + $('#phone').val())
          $(".mvpFormWrap .beforeSubmit").addClass("submitted")
        });
      });
    });
  </script>

