<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
    <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>
    <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf")  -%>
    <script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>

  </head>
 <body onload="number_pages()">
    
    <div class="header">
    <div class="container clearfix">
      <div class="logo pull-left">
        <a href="javascript:void(0);">
          <%= image_tag wicked_pdf_asset_base64("copyright-footer.png") %>
        </a>
      </div>
      <div class="pull-right">
        <span style="color: #fff; font-size: 12px; line-height: 44px;">
          Page <span class="page" ></span> of <span class="topage"></span>
        <span>
      </div>
    </div>
  </div>
  </body>

</html>