 <style>
    .page-break { display:block; clear:both; page-break-after:always; }
    .pdficonwrap{
      float: left;
      height: 50px;
      line-height: 50px;
    }
    .pdficonwrap img{
      max-width: 50px;
      max-height: 100%;
      vertical-align: middle;
    }
</style>

<div class="pagewrap">
 <div class="header">
    <div class="container clearfix">
      <div class="logo pull-left">
        <a href="https://www.hartleylab.com/" target='_blank' >
          <%= image_tag wicked_pdf_asset_base64("logo.png") %>
        </a>
      </div>
      <h5 class="pull-right">
        <a href="https://www.hartleylab.com/" target='_blank' title="Hartley Lab">www.hartleylab.com</a>
      </h5>
    </div>
  </div>
  <!-- Outsourcing page pdf content -->
  <div class="outSourcePdf">     
    <div class="container">
      <% if chal_hash.keys.include?("communication") %>
        <div class="formSectionss">
        <div class="pdficonwrap"><%= image_tag wicked_pdf_asset_base64("communication.png") %></div>
          <div class="formSectionInfo">
            <h4>Communication</h4>
          </div>
          <% if chal_hash["communication"].include?("Understanding") %>
          <div class="pointWrap">
            <h5>Understanding Gaps</h5>
            <div class="answerWrap">
              <p><strong>Our Mitigation Approach:</strong></p>
              <ul>
                <li> We make sure software requirements gathering and project definition happens through right channels. Software requirements capture all user needs with respect to the software system features, functions, and quality of service. </li>
                <li> We make sure that all stakeholders are up-to-date via daily scrum calls, emails or any other communication channels.</li>
              </ul>
            </div>
            <div class="answerWrap">
              <p><strong>PM Tools: </strong>Basecamp, Jira Confluence, Spreadsheets</p>
            </div>
            <div class="answerWrap">
              <p><strong>Communication Tools: </strong>Slack, Skype, Emails, IM</p>
            </div>
          </div> <!-- pointWrap -->
          <% end %>
          <% if chal_hash["communication"].include?("Quality of deliverables") %>
          <div class="pointWrap">
            <h5>Quality of Deliverables</h5>
            <div class="answerWrap">
              <p><strong>Our Mitigation Approach:</strong></p>
              <ul>
                <li><strong>Project delivery: </strong> We make sure that the delivery of the projects is mapped with Sprint reports and the initial project definition with elaborate Software documentation.
                <li><strong>Code quality and reliability: </strong> We make sure the code is maintained in a specific standard with proper comments.
              </ul>
            </div>
            <div class="answerWrap">
              <p><strong>Project delivery mapping tools: </strong>Jira Sprint reports</p>
            </div>
            <div class="answerWrap">
              <p><strong>Code quality tools: </strong>GITHub, CodeClimate</p>
            </div>
          </div> <!-- pointWrap -->
          <% end %>
        </div> <!-- formSectionss -->
      <div class="page-break"></div>
      <% end %>
      

      <% if chal_hash.keys.include?("diversities")  %>
        <div class="formSectionss">
          <div class="pdficonwrap"><%= image_tag wicked_pdf_asset_base64("geographical-diversities.png") %></div>
          <div class="formSectionInfo">
            <h4>Geographical Diversities</h4>
          </div>
          <% if chal_hash["diversities"].include?("Time Zone") %>
          <div class="pointWrap">
            <h5>Time Zones</h5>
            <div class="answerWrap">
              <p><strong>Our Mitigation Approach:</strong></p>
              <ul>
                <li>We allow our teams to work in flexible hours based on your time zone and also do time mapping for more overlap with your time zone.</li>
                <li>We have offices in US and India which allows round the clock development and operations cycle.</li>
                <li>IST (Indian Standard Time) remains constant and do not need Winter or Summer time adjustments.</li>
              </ul>
            </div>
          </div> <!-- pointWrap -->
          <% end %>
          <% if chal_hash["diversities"].include?("Cultural Diversities") %>
          <div class="pointWrap">
            <h5>Cultural Diversity</h5>
            <div class="answerWrap">
              <p><strong>Our Mitigation Approach:</strong></p>
              <ul>
                <li>Our teams are trained on International Cultural Induction Programmes to get them aware about your culture.</li>
                <li>Indian Culture training capsule can be prepared and shared with onsite team for Induction.</li>
              </ul>
            </div>
          </div> <!-- pointWrap -->
          <% end %>
        </div> <!-- formSectionss -->
      <div class="page-break"></div>
      <% end %>
      

      <% if chal_hash.keys.include?("engagement")  %>
      <div class="formSectionss">
      <div class="pdficonwrap"><%= image_tag wicked_pdf_asset_base64("engagement.png") %></div>
        <div class="formSectionInfo">
          <h4>Engagement</h4>
        </div>
        <% if chal_hash["engagement"].include?("Cost Model") %>
        <div class="pointWrap">
          <h5>Cost Model</h5>
          <div class="answerWrap">
            <p><strong>Our Mitigation Approach:</strong></p>
            <p>We have flexible cost models: Fixed Bid, Time and Material, Hybrid, Dedicated Offshore Development Center (ODC)</p>
          </div>
        </div> <!-- pointWrap -->
        <% end %>
        <% if chal_hash["engagement"].include?("Contracts") %>
        <div class="pointWrap">
          <h5>Contracts</h5>
          <div class="answerWrap">
            <p><strong>Our Mitigation Approach:</strong></p>
            <ul>
              <li>We execute NDA, Custom Software Development agreement and Master Service agreement during our onboarding step.</li>
              <li><p>Our contracts cover:</p>
                <ul>
                  <li>Intellectual property rights</li>
                  <li>Assignment of copyright</li>
                  <li>Nondisclosure obligations</li>
                  <li>Term and termination</li>
                  <li>No conflict of interest</li>
                  <li>Noninterference with business</li>
                  <li>Force majeure</li>
                  <li>Assignment</li>
                  <li>Governing law, jurisdiction, and venue</li>
                </ul>
              </li>
              <li>We execute timely contract and renewals.</li>
            </ul>
          </div>
        </div> <!-- pointWrap -->
        <% end %>
        <% if chal_hash["engagement"].include?("Change Management") %>
        <div class="pointWrap">
          <h5>Change Management</h5>
          <div class="answerWrap">
            <p><strong>Our Mitigation Approach:</strong></p>
            <ul>
              <li>We amend the contracts and  project scope documents if required based on agreement by all the stakeholders.</li>
            </ul>
          </div>
        </div> <!-- pointWrap -->
        <% end %>
        

        <% if chal_hash["engagement"].include?("Governance") %>
        <% if chal_hash["engagement"].length > 1 %>
          <div class="page-break"></div>
          <div class="governance-padding"></div>
        <% end %>
        <div class="pointWrap">
          <h5>Governance</h5>
          <div class="answerWrap">
            <p><strong>Our Mitigation Approach:</strong></p>
            <p>We believe that transparency and ownership of the decision-making process must reside within the purview of our client, which ensures that the risks are managed and there is continued delivery of value.</p>
          </div>
          <div class="answerWrap">
            <p><strong>Our Governance Model:</strong></p>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Stakeholders</th>
                  <th>Responsibilities</th>
                  <th>Frequency</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Joint Steering Committee consisting of Customer's executive team and Hartley Lab executive team</td>
                  <td>
                    <ul>
                      <li>Strategic decisions</li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li>Quarterly steering committee</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Joint management committee consisting of Customer's Product Line Head and Hartley Lab Delivery Head</td>
                  <td>
                    <ul>                      
                      <li>Monitor progress</li>
                      <li>Approve plan and changes</li>
                      <li>Review the quality of the delivery</li>
                      <li>Resolve escalated issues</li>
                      <li>Perform medium term planning</li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li>Monthly with Project leads and weekly with the project team</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Joint Development Committee consisting of Customer's Dev team with Hartley Lab Project Manager</td>
                  <td>
                    <ul>
                      <li>Track day-to-day issues and recommend improvement initiatives</li>
                      <li>Resolve exceptions and other operational issues</li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li>Daily</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> <!-- pointWrap -->
        <% end %>
      </div> <!-- formSectionss -->
          <div class="page-break"></div> 
      <% end %>
    

      <% if chal_hash.keys.include?("people")  %>
      <div class="formSectionss">
      <div class="pdficonwrap"><%= image_tag wicked_pdf_asset_base64("people.png") %></div>
        <div class="formSectionInfo">
          <h4>People</h4>
        </div>
        <% if chal_hash["people"].include?("Retention and attrition") %>
        <div class="pointWrap">
          <h5>Retention and Attrition</h5>
          <div class="answerWrap">
            <p><strong>Our Mitigation Approach:</strong></p>
            <ul>
              <li>We keep the retention higher while the attrition lower.</li>
              <li>Each member of the dev team has their own shadow resources to avoid dependencies. </li>
              <li>Our team follows Knowledge Management best practices.</li>
              <li>We have the Mitigation strategies in place in case of attrition of project resources (Performance based awards, rewards and recognition).</li>
            </ul>
          </div>
        </div> <!-- pointWrap -->
        <% end %>
        <% if chal_hash["people"].include?("Performance") %>
        <div class="pointWrap">
          <h5>Performance</h5>
          <div class="answerWrap">
            <p><strong>Our Mitigation Approach:</strong></p>
            <ul>
              <li>Our team performances are measured and counselled based on quarterly KRAs.</li>
              <li>We conduct frequent personality development programs to boost the motivation of the teams.</li>
            </ul>
          </div>
        </div> <!-- pointWrap -->
        <% end %>
      </div> <!-- formSectionss -->
      <div class="page-break"></div>
      <% end %>

      <% if chal_hash.keys.include?("process") %>
      <div class="formSectionss">
       <div class="pdficonwrap"><%= image_tag wicked_pdf_asset_base64("project-processes.png") %></div>
        <div class="formSectionInfo">
          <h4>Project Processes</h4>
        </div>
        <% if chal_hash["process"].include?("Project lifecycle process") %>
        <div class="pointWrap">
          <h5>Project Lifecycle Process</h5>
          <div class="answerWrap">
            <p><strong>Our Mitigation Approach:</strong></p>
            <ul>
              <li>We follow Agile Scrum, Waterfall and Lean project development along with ITSM.</li>
              <li>The projects are adjudged for the best project process based on the nature of the project and the clients.</li>
              <li>We make sure that the projects run within the boundaries of the processes.</li>
            </ul>
          </div>
        </div> <!-- pointWrap -->
        <% end %>
        <% if chal_hash["process"].include?("Scalibility") %>
        <div class="pointWrap">
          <h5>Scalability</h5>
          <div class="answerWrap">
            <p><strong>Our Mitigation Approach:</strong></p>
            <ul>
              <li>Building scalable architectures for the softwares/products to help you scale horizontally.</li>
              <li>We can scale up to the service/capacity as the business demands.</li>
            </ul>
          </div>
        </div> <!-- pointWrap -->
        <% end %>
        <% if chal_hash["process"].include?("Transperancy") %>
        <div class="pointWrap">
          <h5>Transparency</h5>
          <div class="answerWrap">
            <p><strong>Our Mitigation Approach:</strong></p>
            <ul>
              <li>Our clients can see the progress as we build the softwares.</li>
              <li>We create Jira and Basecamp projects where the clients can see and monitor the real-time project status through Jira tickets and checklists.</li>
            </ul>
          </div>
        </div> <!-- pointWrap -->
        <% end %>
      </div> <!-- formSectionss -->
      <div class="page-break"></div>
      <% end %>
     

      <% if chal_hash.keys.include?("security") %>
      <div class="formSectionss">
      <div class="pdficonwrap"><%= image_tag wicked_pdf_asset_base64("security.png") %></div>
        <div class="formSectionInfo">
          <h4>Security and IP protection</h4>
        </div>
        <% if chal_hash["security"].include?("Data integrity") %>
        <div class="pointWrap">
          <h5>Data Integrity</h5>
          <div class="answerWrap">
            <p><strong>Our Mitigation Approach:</strong></p>
            <ul>
              <li>Each project is under the access boundaries through Access control. Only the stakeholders and the development teams have the access to the project information.</li>
              <li>We sign Non-Disclosure agreements (NDA) with our team for each project for IP protection.</li>
              <li>The team conducts Information security checks from time-to-time.</li>
              <li>We have Backup strategies in place to be prepared for any unforeseen circumstances.</li>
            </ul>
          </div>
        </div> <!-- pointWrap -->
        <% end %>
        <% if chal_hash["security"].include?("Data security") %>
        <div class="pointWrap">
          <h5>Data Security</h5>
          <div class="answerWrap">
            <p><strong>Our Mitigation Approach:</strong></p>
            <ul>
              <li>We check Application vulnerability validations at every moments.</li>
              <li>Our code base and project information always follows the Network security standards.</li>
              <li>Each data is protected through Encryption and decryption mechanisms.</li>
            </ul>
          </div>
        </div> <!-- pointWrap -->
        <% end %>
      </div> <!-- formSectionss -->
      <div class="page-break"></div>
      <% end %>
     
      <% if chal_hash.keys.include?("technology")  %>
      <div class="formSectionss">
      <div class="pdficonwrap"><%= image_tag wicked_pdf_asset_base64("engagement.png") %></div>
        <div class="formSectionInfo">
          <h4>Technology</h4>
        </div>
        <% if chal_hash["technology"].include?("Knowledge Retention") %>
        <div class="pointWrap">
          <h5>Knowledge Retention</h5>
          <div class="answerWrap">
            <p><strong>Our Mitigation Approach:</strong></p>
            <ul>
              <li>We keep the project requirements well documented. As per the changes in the contracts and the scope, the project documentation gets updated.</li>
              <li>Our code follows the standard code documentation process.</li>
              <li>We make sure that each line of code is passed through the Test cases and test artifacts.</li>
              <li>We maintain a central repository for documentation through restricted and secured access points.</li>
            </ul>
          </div>
        </div> <!-- pointWrap -->
        <% end %>
        <% if chal_hash["technology"].include?("Training / Cross platform") %>
        <div class="pointWrap">
          <h5>Trainings/Cross Platforms</h5>
          <div class="answerWrap">
            <p><strong>Our Mitigation Approach:</strong></p>
            <ul>
              <li>We conduct regular trainings to keep the team in sync with the latest technology trends.</li>
              <li>We conduct sessions for building full-stack development teams.</li>
            </ul>
          </div>
        </div> <!-- pointWrap -->
        <% end %>
        <% if chal_hash["technology"].include?("Technology change management") %>
        <div class="pointWrap">
          <h5>Technology Change Management</h5>
          <div class="answerWrap">
            <p><strong>Our Mitigation Approach:</strong></p>
            <ul>
              <li>We recommend technology change based on the project.</li>
              <li>We do a reverse engineering and recommend the best technology for reimplementation. </li>
              <li>We strive for Web enablement, mobility and cloud computing.</li>
            </ul>
          </div>
        </div> <!-- pointWrap -->
        <% end %>
      </div> <!-- formSectionss -->
      <% end %>
    </div>
  </div>


