  <div class="header">
    <div class="container clearfix">
      <div class="logo pull-left">
        <a href="https://www.hartleylab.com/" target='_blank' >
         <img src=<%= image_url("logo.png")%> title="Hartley Lab" alt="Hartley Lab">
        </a>
      </div>
      <h5 class="pull-right">
        <a href="https://www.hartleylab.com/" target='_blank'  title="Hartley Lab">www.hartleylab.com</a>
      </h5>
    </div>
  </div>

  <section class="outSourceForm">
    <div class="outsourceInner">     
      <div class="container">
        <h1>CHALLENGES</h1> 
        <div class="outformWrap">
          <div class="outsourceChallenges">
            <!-- <h2>
              Outsourcing challenges
            </h2> -->
            <!-- <h3>Step 1.</h3> -->
            <p>
              <span>STEP 1.</span>
              We have categorised the outsourcing challenges for you. Please tick whichever you think are applicable, so that it will help us understand your problems better.
            </p>
            <!-- <h3>Step 2.</h3> -->
            <p>
              <span>STEP 2.</span>
              Once you define your challenge areas, we will let you know how we at Hartley Lab mitigate these challenges.
            </p>
          </div>
          <% if  flash[:error].present? %>
            <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error!</strong> <%= flash[:error] %>
            </div>
          <% end %>
          <form accept-charset="UTF-8" action="create_challenges" class="outsourceForm"  name="outsourceForm" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <div class="formSections">
              <div class="formSectionInfo">
                <i class="iconhl-communications"></i>
                <h4>Communication</h4>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[communication][]" value="Understanding">
                  <span class="customCheck"></span>
                  <span class="labelText">Understanding Gaps</span>
                </label>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[communication][]" value="Quality of deliverables">
                  <span class="customCheck"></span>
                  <span class="labelText">Quality of Deliverables</span>
                </label>
              </div>
            </div>
            <div class="formSections">
              <div class="formSectionInfo">
                <i class="iconhl-geography"></i>
                <h4>Geographical Diversities</h4>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[diversities][]" value="Time Zone">
                  <span class="customCheck"></span>
                  <span class="labelText">Time Zone</span>
                </label>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[diversities][]" value="Cultural Diversities">
                  <span class="customCheck"></span>
                  <span class="labelText">Cultural Diversity</span>
                </label>
              </div>
            </div>
            <div class="formSections">
              <div class="formSectionInfo">
                <i class="iconhl-engagement"></i>
                <h4>Engagement</h4>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[engagement][]" value="Cost Model">
                  <span class="customCheck"></span>
                  <span class="labelText">Cost Model</span>
                </label>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[engagement][]" value="Contracts">
                  <span class="customCheck"></span>
                  <span class="labelText">Contracts</span>
                </label>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[engagement][]" value="Change Management">
                  <span class="customCheck"></span>
                  <span class="labelText">Change Management</span>
                </label>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[engagement][]" value="Governance">
                  <span class="customCheck"></span>
                  <span class="labelText">Governance</span>
                </label>
              </div>
            </div>
            <div class="formSections">
              <div class="formSectionInfo">
                <i class="iconhl-process"></i>
                <h4>Project Process</h4>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[process][]" value="Project lifecycle process">
                  <span class="customCheck"></span>
                  <span class="labelText">Project Lifecycle Process</span>
                </label>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[process][]" value="Scalibility">
                  <span class="customCheck"></span>
                  <span class="labelText">Scalibility</span>
                </label>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[process][]" value="Transperancy">
                  <span class="customCheck"></span>
                  <span class="labelText">Transperancy</span>
                </label>
              </div>
            </div>
            <div class="formSections">
              <div class="formSectionInfo">
                <i class="iconhl-people"></i>
                <h4>People</h4>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[people][]" value="Retention and attrition">
                  <span class="customCheck"></span>
                  <span class="labelText">Retention and Attrition</span>
                </label>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[people][]" value="Performance">
                  <span class="customCheck"></span>
                  <span class="labelText">Performance</span>
                </label>
              </div>
            </div>
            <div class="formSections">
              <div class="formSectionInfo">
                <i class="iconhl-security"></i>
                <h4>Security &amp; IP Protection </h4>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[security][]" value="Data integrity">
                  <span class="customCheck"></span>
                  <span class="labelText">Data Integrity</span>
                </label>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[security][]" value="Data security">
                  <span class="customCheck"></span>
                  <span class="labelText">Data Security</span>
                </label>
              </div>
            </div>
            <div class="formSections">
              <div class="formSectionInfo">
                <i class="iconhl-engagement"></i>
                <h4>Technology</h4>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[technology][]" value="Knowledge Retention">
                  <span class="customCheck"></span>
                  <span class="labelText">Knowledge Retention</span>
                </label>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[technology][]" value="Training / Cross platform">
                  <span class="customCheck"></span>
                  <span class="labelText">Training / Cross Platform</span>
                </label>
              </div>
              <div class="checkbox">
                <label class="customCheckbox">
                  <input type="checkbox" name="outsourceForm[technology][]" value="Technology change management">
                  <span class="customCheck"></span>
                  <span class="labelText">Technology Change Management</span>
                </label>
              </div>
            </div>
            <button class="outsourcceSubmit" type="submit">Submit your challenges</button>
          </form>
        </div>
      </div>
    </div>
    <div class="corner">
       <img src=<%= image_url("corner.png")%> >
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="clearfix">
        <ul class="clearfix list-unstyled socialLinks">
          <li>
            <a target="_blank" href="https://www.linkedin.com/company/hartley-lab" title="LinkedIn">
              <i class="icon-linkedIn"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.facebook.com/HartleyLab/" title="Facebook">
              <i class="icon-facebook"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://twitter.com/hartleylab" title="Twitter">
              <i class="icon-twitter"></i>
            </a>
          </li><li>
            <a target="_blank" href="https://www.instagram.com/hartley_lab/" title="Instagram">
              <i class="icon-insta"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.youtube.com/channel/UC2wvPee8Zuu_JXjfD2sdXGA" title="YouTube">
              <i class="icon-youtube"></i>
            </a>
          </li>
        </ul>
        <h6 class="copyright"> &copy; 2017 Hartley Lab. All Rights Reserved.</h6>
      </div>
    </div>
  </footer>

  <!-- video popup start -->
  <div id="videoPopup" class="videoPopup">
    <a href="javascript:void(0);" class="closePopup">&times;</a>
    <div class="videoContainer">
    </div>
  </div>


