<div id="popupBg"></div>
  <div class="header">
    <div class="container clearfix">
      <div class="logo pull-left">
        <a href="https://www.hartleylab.com/" target='_blank' >
          <img src=<%= image_url("logo.png")%> title="Hartley Lab" alt="Hartley Lab">
        </a>
      </div>
      <h5 class="pull-right">
        <a href="https://www.hartleylab.com/" target='_blank'  title="Hartley Lab" >www.hartleylab.com</a>
      </h5>
    </div>
  </div>

  <div class="outsourcingPage">
    <div class="container">
      <div class="text-center">
        <h1>OUTSOURCING</h1>
      </div>
      <div class="introContent">
        <div class="clearfix">
          <div class="introContentImg">
            <img src=<%= image_url("outsource.png")%> title="Hartley Lab" alt="Hartley Lab">
          </div>
          <div class="introContentText mainText">
            <h2>MOTIVATION BEYOND COST TO REDEFINE OUTSOURCING</h2>
            <p>Hartley delivers software outsourcing services that help you create more value for your business, improve efficiency and access new technologies and best practices.</p>
            <p>With an aim to build stronger relationships with our clients, we believe in partnerships. We believe that any project, no matter the size, is critical to your success.</p>
          </div>
          <div class="introContentText subText">
            <h4 class="conquerTitle">IT IS TIME TO GET OVER YOUR OUTSOURCING DILEMMA.</h4>
            <p>Outsourcing has its own share of challenges.</p>
            <p>Are you are thinking to outsource or have challenges in current engagement? Let's map out some of the outsourcing challenges and our approach on mitigating them.</p>
            <br>
            <a href=<%=  home_index_path %> title="Define your challenge areas">Define your challenge areas</a>
            <h5><em>A quick run through the list of challenge areas in outsourcing</em></h5>
          </div>
        </div>
      </div>

      <div class="makeItSimple frictionSimple">
        <div class="row">
          <div class="col-md-5 col-sm-6 col-sm-push-6 col-md-offset-1">
            <div class="aboutUs commonAbout">
              <h2 class="clientHeading">WHY WE'RE HERE</h2>
              <p>We are a mission-focused company driven through the passion for technology towards delivering intelligent solutions. We are a team of 50+ Engineers dedicated to solving the real world problems through technical brilliance and impeccable expertise.</p>
              <p>We not only "Make IT Smart" but we "Make IT Simple" for the people and businesses, irrespective of the scale, for them to focus on more important things, like their core business!</p>
            </div>
          </div>
          <div class="col-sm-6 col-sm-pull-6">
            <div class="videoHeading clearfix">
              <h4 class="workedHeading">OUR WORK SPEAKS VOLUMES &amp; <br> OUR CLIENTS VOUCH FOR IT</h4>
              <div class="navigateArrows">
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#videoCarousel" data-slide="prev" title="Previous" alt="Previous">
                </a>
                <a class="right carousel-control" href="#videoCarousel" data-slide="next" title="Next" alt="Next">
                </a>
              </div>
            </div>  
            <div id="videoCarousel" class="commonVideoCarousel carousel slide" data-ride="carousel" data-interval="0">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="videoListItem">
                    <a href="javascript:void(0);" class="videoLink videoImage" rel="5xA8ed42--Q" data-title="Member Only Hotel Rates">
                      <img src="https://i3.ytimg.com/vi/5xA8ed42--Q/maxresdefault.jpg">
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="videoListItem">
                    <a href="javascript:void(0);" class="videoLink videoImage" rel="fsWesrmDcvQ" data-title="Member Only Hotel Rates">
                      <img src="https://i3.ytimg.com/vi/fsWesrmDcvQ/maxresdefault.jpg">
                    </a>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonialWrap">
                    <p>The Hartley team has been incredible in translating business intelligence into intuitive user experiences. They've managed complex project objectives with tech savvy and have become our trusted resource in developing our satellite data platform. We've come a long way in a short time with their experienced staff who have helped with everything from early planning, design, storyboarding, and development, to testing, execution, and follow-up support. We admire their engagement, dedication, and professionalism and are excited about all the great things we will build together!</p>
                    <h5>- John Frost</h5>
                    <h5>( Head of TerraServer.com Division, PrecisionHawk )</h5>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonialWrap">
                    <p>I've had the pleasure of working with Hartley Lab team for the past few months and I am very pleased with the quality of work they deliver. Hartley team is organised, and they are willing to work long hours to get the job done right.</p>
                    <h5>- Charles Kelly</h5>
                    <h5>( Director Of Software Product Management, PrecisionHawk )</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
    <span class="corner">
      <img src=<%= image_url("corner.png")%> >
    </span>
  </div>

  <footer>
    <div class="container">
      <div class="clearfix">
        <ul class="clearfix list-unstyled socialLinks">
          <li>
            <a target="_blank" href="https://www.linkedin.com/company/hartley-lab" title="LinkedIn">
              <i class="icon-linkedIn"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.facebook.com/HartleyLab/" title="Facebook">
              <i class="icon-facebook"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://twitter.com/hartleylab" title="Twitter">
              <i class="icon-twitter"></i>
            </a>
          </li><li>
            <a target="_blank" href="https://www.instagram.com/hartley_lab/" title="Instagram">
              <i class="icon-insta"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.youtube.com/channel/UC2wvPee8Zuu_JXjfD2sdXGA" title="YouTube">
              <i class="icon-youtube"></i>
            </a>
          </li>
        </ul>
        <h6 class="copyright"> &copy; 2017 Hartley Lab. All Rights Reserved.</h6>
      </div>
    </div>
  </footer>

  <!-- video popup start -->
  <div id="videoPopup" class="videoPopup">
    <a href="javascript:void(0);" class="closePopup">&times;</a>
    <div class="videoContainer">
    </div>
  </div>

 
  <script type="text/javascript">
    $(document).ready(function(){


      // Video Tutorails
      //call video for event popup (video page)
      $('.videoLink').on('click', function(){

        var videoId = $(this).attr('rel');
        var title = $(this).data('title');
          $('.videoContainer').html('<div class="video-container"><iframe src="https://www.youtube.com/embed/'+ videoId +'?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe></div>');
          $('#videoPopup').fadeIn(200);
          $('#popupBg').fadeIn(300);
      });
      // close video
      $('#popupBg, .closePopup').click(function(event) {
        $('.videoContainer').empty();
        $('#popupBg, #videoPopup').fadeOut(200);
      });
      // end
    });
  </script>

