<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hartley Lab</title>
    <style type="text/css">
      body{
      font:13px/18px arial, sans-serif;
      color:#010101;
      text-align:left;
    }
      html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
      margin:0;
      padding:0;
      border:0;
      font-size:100%;
      font:inherit;
    }
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
      display:block;
    }
    ol,ul{
      list-style:none;
    }
    blockquote,q{
      quotes:none;
    }
    blockquote:before,blockquote:after,q:before,q:after{
      content:none;
    }
    table{
      border-spacing:0;
    }
    </style>
    
  </head>
  <body style="min-width: 100% !important; margin: 0; padding: 0;">
    <table bgcolor="#ffffff" border="1" bordercolor="#0198cd" cellpadding="0" cellspacing="0" width="600" style="font-family: 'Arial', sans-serif; font-size: 14px; color: #777777; margin: 50px auto 0 auto;">
      <tr>
        <td style="border-collapse: collapse; border-color: #dddddd; border-width: 1px; border-style: solid; border: 1px solid #dddddd;">
          <table align="top" width="600" style="border-collapse: collapse;" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td colspan="2" style="padding: 10px 0 0 0;" width="600" bgcolor="#017ba3"></td>
            </tr>
            <tr>
              <td bgcolor="#0198cd" style="line-height: 0; border-collapse: collapse;">
                <table align="top" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;">
                  <tr>
                    <td style="padding: 20px 20px 10px 20px;" align="left">
                      <a href="http://hartleylab.com" target="_blank" style="display: inline-block;">
                        <img src="http://hartleylab.com/images/logo.png" alt="Hartley Lab" width="250" />
                      </a>
                    </td>
                    <td align="right" style="padding: 20px 20px 10px 20px;">
                      <p style="font-family: 'Arial', sans-serif; font-size: 14px; font-weight: 600;"><a href="http://hartleylab.com" target="_blank" style="display: inline-block; font-family: 'Arial', sans-serif; font-size: 14px; font-weight: 600; color: #FFFFFF; text-decoration: none;">www.hartleylab.com</a></p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr style="line-height: 0;">
              <td style="line-height: 0;">
                <table align="top" width="100%" cellpadding="0" cellspacing="0" border="0" style="line-height: 0;">
                  <tr style="line-height: 0;">
                    <td style="line-height: 0;">
                      <img src="http://www.hartleylab.com/images/emailer/hartleylab-email-header.jpg" alt="Hartley Lab" width="600" style="display: block;" />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          
          <table align="top" width="100%" style="border-collapse: collapse;" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td align="center" style="padding: 20px 50px 10px 50px">
                <p style="margin: 0; font-size:16px;line-height:27px; font-family: 'Arial',sans-serif; color: #333333; letter-spacing: 0.25px; text-align: left;">Hi <%= @user.full_name.capitalize%>,
                </p>
              </td>
            </tr>
            <tr>
              <td align="center" style="padding: 20px 50px 10px 50px">
                <p style="margin: 0; font-size:16px;line-height:27px; font-family: 'Arial',sans-serif; color: #333333; letter-spacing: 0.25px; text-align: left;">
                  Thank you for defining your challenge areas in outsourcing. Based on your inputs, we have drafted our mitigation strategy.
                </p>
              </td>
            </tr>
            <tr>
              <td align="center" style="padding: 20px 50px 10px 50px">
                <p style="margin: 0; font-size:16px;line-height:27px; font-family: 'Arial',sans-serif; color: #333333; letter-spacing: 0.25px; text-align: left;">
                  Please download the PDF attached to this email.
                </p>
              </td>
            </tr>
            <tr>
              <td align="center" style="padding: 20px 50px 10px 50px">
                <p style="margin: 0; font-size:16px;line-height:27px; font-family: 'Arial',sans-serif; color: #333333; letter-spacing: 0.25px; text-align: left;">
                  Regards,<br />
                  Hartley Lab team <br />
                  <a href="https://www.hartleylab.com/" target="_blank" title="www.hartleylab.com">www.hartleylab.com</a>
                </p>
              </td>
            </tr>

            <tr><td colspan="3" height="30"></td></tr>
            
            <tr>
              <td bgcolor="#0198cd" style="padding:20px;color:#fff;">
                <table align="top" width="100%" cellpadding="0" cellspacing="0" border="0">
                  <tr><td colspan="3" height="20"></td></tr>
                  <tr>
                    <td colspan="3"><p style="color:#fff;margin:0;font-size: 14px;line-height:24px;">WE'D LOVE TO HEAR FROM YOU! PLEASE LET US KNOW HOW WE CAN HELP.</p></td>
                  </tr>
                  <tr><td colspan="3" height="30"></td></tr>
                  <tr>
                    <td align="left">
                      <div>
                        <!--[if mso]>
                          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://hartleylab.com/#mailStatus" target="_blank" style="height:36px;v-text-anchor:middle; width:200px;" arcsize="5%" strokecolor="#64b55c" fillcolor="#64b55c">
                            <w:anchorlock/>
                            <center style="color:#ffffff;font-family:Helvetica, Arial,sans-serif;font-size:14px;">GET IN TOUCH WITH US</center>
                          </v:roundrect>
                        <![endif]-->
                        <p style="font-family: 'Arial', sans-serif; font-size:14px;line-height:18px; margin: 0;"><a href="http://hartleylab.com/#mailStatus" target="_blank" style="padding:10px 20px;background-color:#64b55c;border:1px solid #64b55c;border-radius:5px;color:#ffffff;display:inline-block;font-family:Arial, sans-serif;font-size:14px;line-height:18px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;mso-hide:all;">GET IN TOUCH WITH US</a></p>
                      </div>
                    </td>
                    <td align="center"><p style="color:#fff;margin:0;font-size: 18px;line-height:28px;">OR</p></td>
                    <td align="right">
                      <div>
                         <!--[if mso]>
                          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://calendly.com/hartleylab" target="_blank" style="height:36px;v-text-anchor:middle;width:200px;" arcsize="5%" strokecolor="#ffffff" fillcolor="#ffffff">
                            <w:anchorlock/>
                            <center style="color:#64b55c;font-family:Helvetica, Arial,sans-serif;font-size:14px;">MEET US AT RISE</center>
                          </v:roundrect>
                        <![endif]-->
                        <p style="font-family: 'Arial', sans-serif; font-size:14px;line-height:18px; margin: 0;"><a href="https://calendly.com/hartleylab/rise/" target="_blank" style="padding:10px 20px;background-color:#ffffff;border:1px solid #ffffff;border-radius:5px;color:#64b55c;display:inline-block;font-family:Arial, sans-serif;font-size:14px;line-height:18px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;mso-hide:all;">MEET US AT RISE</a></p>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            
            <tr style="line-height: 0;">
              <td bgcolor="#0198cd" style="line-height: 0;">
                <table bgcolor="#0198cd" align="bottom" width="100%" cellpadding="0" cellspacing="0" border="0" style="line-height: 0;">
                  <tr style="line-height: 0;">
                    <td align="right" valign="bottom" height="68" style="line-height: 0;">
                      <p style="line-height: 0; margin: 0; height: 68px;"><img src="http://hartleylab.com/images/corner.png" alt="" width="90" style="line-height: 0; display: block;"></p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr bgcolor="#017ba3">
              <td width="600">
                <table align="top" width="100%" cellpadding="0" cellspacing="0" border="0">
                  <tr><td colspan="2" height="30"></td></tr>
                  <tr>
                    <td valign="middle" align="left" style="padding: 0 20px 0 20px; color: #fff">
                      <p style="font-family:Helvetica,Arial,Verdana; font-size: 12px; color:#ffffff; text-decoration: none;">
                        &copy; 2017 Hartley Lab. All Rights Reserved.
                      </p>
                    </td>
                    <td valign="top" align="right" style="color:#ffffff; padding: 0 20px 0 20px;">
                      <table align="top" width="200" style="border-collapse: collapse;" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                          <td>
                            <a href="https://www.linkedin.com/company/hartley-lab" target="_blank" style="display:inline-block;">
                            <img src="http://hartleylab.com/images/emailer/linkedin.png" alt="Linkedin" width="32">
                            </a>
                          </td>
                          <td>
                            <a href="https://www.facebook.com/HartleyLab/" target="_blank" style="display:inline-block;">
                            <img src="http://hartleylab.com/images/emailer/facebook.png" alt="Facebook" width="32">
                            </a>
                          </td>
                          <td>
                            <a href="https://twitter.com/hartleylab" target="_blank" style="display:inline-block;">
                            <img src="http://hartleylab.com/images/emailer/twitter.png" alt="Twitter" width="32">
                            </a>
                          </td>
                          <td>
                            <a href="https://www.instagram.com/hartley_lab/" target="_blank" style="display:inline-block;">
                            <img src="http://hartleylab.com/images/emailer/instagram.png" alt="Instagram" width="32">
                            </a>
                          </td>
                          <td>
                            <a href="https://www.youtube.com/channel/UC2wvPee8Zuu_JXjfD2sdXGA" target="_blank" style="display:inline-block;">
                            <img src="http://hartleylab.com/images/emailer/youtube.png" alt="YouTube" width="28">
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr><td colspan="2" height="30"></td></tr>
                </table>
              </td>
            </tr>

            
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>