.mitigationPage * {
  box-sizing: border-box;
}

.mitigationPage {
  background: url(../images/outsourcing/banner.jpg) no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding-top: 70px;
  position: relative;
}

.mitigationPage h1 {
  margin: 0;
  text-align: center;
  font-size: 150px;
  margin-bottom: 10px;
  color: #0294c5;
  line-height: 1;
}

.mitigationPage h2 {
  color: #0099CC;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 0 0 15px;
  word-spacing: 1px;
}

.mitigationPage .introContent {
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.25);
  display: -webkit-flex;
  display: flex;
  margin-bottom: 75px;
  padding: 0;
}

.introContent .mitigationContent {
  float: left;
  padding: 50px 40px 52px 65px;
  width: 605px;
}

.introContent .mitigationContent h2 {
  margin: 0 0 50px;
}

.introContent .mitigationContent h3 {
  font-size: 22px;
  margin: 0 0 30px;
}

.introContent .mitigationContent .mitigationImg {
  float: left;
  width: 130px;
}

.introContent .mitigationContent .mitigationImg img {
  width: 100%;
}

.introContent .mitigationText {
  padding-left: 160px;
  margin-bottom: 90px;
}

.introContent .mitigationText li {
  font-weight: 300;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 19px;
  padding-left: 32px;
  position: relative;
}

.iconhl-grayCheck{
  width: 22px;
  height: 21px;
  background-position: -73px -54px;
  position: absolute;
  left: 0;
  top: 2px;
}

.introContent .mitigationForm {
  background: #11709f url(../images/mitigation/mitigation-form-bg.png) no-repeat;
  background-size: cover;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  padding: 47px 60px 0 45px;
  width: 535px;
}

.introContent .mitigationForm h3 {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 30px;
}

.mitigationForm .startDownloadWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.introContent .mitigationForm.mitigationPadding{
  padding: 47px 60px 47px 45px
}

.mitigationForm .startDownload p {
  color: #fff;
  font-weight: 300;
  font-size: 19px;
  line-height: 33px;
}

.mitigationForm .startDownload a {
  color: #fff;
  text-decoration: underline;
}

.introContent .mitigationForm .contactForm {
  padding: 0 10px 0 0;
  margin-top: 0;
  border-top: none;
}

.introContent .mitigationForm label {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 100;
  margin: 0 0 12px;
}

.introContent .mitigationForm .form-control {
  box-shadow: none;
  border-radius: 10px;
  margin: 0;
}

.mitigationForm .bootstrap-select .dropdown-menu {
  max-height: 125px !important;
}

.mitigationForm .dropdown-menu>li>a {
  white-space: inherit;
}

.mitigationForm .contactForm .btn-green {
  border-radius: 10px;
  font-size: 16px;
  line-height: 45px;
  font-weight: 300;
  height: 45px;
  margin-top: 15px;
  padding: 0 20px;
  width: auto;
}

.mitigationForm .contactForm .btn-green:hover {
  border: 1px solid #4e9e46 ;
  background: #4e9e46 ;
  color: #fff;
}

.iconhl-post {
  background-position: 0 -850px;
  height: 22px;
  width: 55px;
  margin-right: 8px;
  vertical-align: middle;
}

.mitigationPage .workDone h3 {
  color: #0099cc;
  font-size: 24px;
}

.mitigationPage h4 {
  font-size: 20px;
  line-height: 28px;
}

.mitigationPage .workDone h5 {
  margin: 0 0 7px;
}

/* thank You PopUp */
.thankYouPopUp {
  background: rgba(0,153,204,.8);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.thankYouPopUp .thankYouContent {
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.25);
  margin: 0 auto;
  padding: 60px;
  position: relative;
}

.thankYouPopUp .thankYouContent h2 {
  color: #0099CC;
  font-size: 36px;
  line-height: 50px;
  font-weight: 500;
  margin: 0 0 15px;
  word-spacing: 1px;
}

.introContent .mitigationCTA .btn-green {
  font-weight: 300;
  border-radius: 10px;
  font-size: 16px;
  line-height: 45px;
  height: auto;
  color: #fff;
  width: auto;
  background: #64b55c;
  padding: 0 20px;
  border: 1px solid #64b55c;
  transition: 0.2s all linear;
}

.introContent .mitigationCTA .btn-green:hover {
  background: #4e9e46;
  color: #fff;
  border: 1px solid #4e9e46;
}

.introContent .mitigationCTA span {
  padding: 0 15px;
}

.introContent .mitigationCTA .btn-white {
  background: #fff;
  border: 1px solid #64b55c;
  border-radius: 10px;
  color: #64b55c;
  font-size: 16px;
  line-height: 45px;
  font-weight: 300;
  letter-spacing: 1px;
  height: auto;
  padding: 0 20px;
  transition: 0.2s all linear;
}


@media only screen and (min-width:1200px) {
  .modal {
    text-align: center;
    padding: 0!important;
  }

  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

@media only screen and (max-width:1199px) {
  .mitigationPage h1 {
    font-size: 124px;
    line-height: 126px;
  }

  .introContent .mitigationContent h3 {
    font-size: 20px;
  }

  .introContent .mitigationContent .mitigationImg {
    float: none;
    margin-bottom: 26px;
  }

  .introContent .mitigationText {
    padding-left: 0;
    margin-bottom: 0;
  }

  .mitigationForm .contactForm .btn-green,
  .introContent .mitigationCTA .btn-green,
  .introContent .mitigationCTA .btn-white {
    width: 100%;
  }

  .introContent .mitigationCTA span {
    display: block;
    text-align: center;
    padding: 15px 0;
  }

  .mitigationForm .startDownload p {
    font-size: 16px;
  }

  .mitigationPage #videoCarousel.commonVideoCarousel {
    min-height: 326px;
  }
}

@media only screen and (max-width:991px) {
  .mitigationPage {
    padding-top: 30px;
  }

  .mitigationPage h1 {
    font-size: 94px;
    line-height: 96px;
  }
  .introContent .mitigationContent,
  .introContent .mitigationForm{
    width: 50%;
    padding: 35px 15px 25px;
  }
  .introContent .mitigationForm .contactForm {
    padding: 0;
  }
  .contactForm .form-group {
    margin-bottom: 19px;
  }
  .thankYouPopUp .thankYouContent .btn-green {
    width: auto;
  }
  .introContent .mitigationContent .mitigationImg{
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
  }
  .introContent .mitigationContent .mitigationImg img{
    width: 146px;
  }
  .introContent .mitigationText{
    clear: both;
    margin-bottom: 44px;
    padding-left: 0;
  }
  .introContent .mitigationContent h3 {
    margin: 0 0 20px;
  }
  .introContent .mitigationText li {
    font-size: 18px;
  }
  .mitigationPage .videoHeading .navigateArrows,
  .mitigationPage .videoHeading h4{
    margin-bottom: 20px;
  }
  .mitigationPage .videoHeading h4{
    font-size: 16px;
  }
  .mitigationPage .workDone h3{
    font-size: 20px;
  }
  .weCanContent h3{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .makeItSimple h4 {
    font-size: 16px;
  }
  .mitigationPage #videoCarousel.commonVideoCarousel {
    min-height: 248px;
  }
  .introContent .mitigationForm.mitigationPadding {
    padding: 25px;
  }
}

@media only screen and (max-width:767px) {
  .introContent .mitigationContent, 
  .introContent .mitigationForm{
    width: 100%;
  }
  .introContent .mitigationForm{
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .mitigationPage .introContent{
    display: block;
  }
  .mitigationPage h1{
    font-size: 38px;
    line-height: 1;
  }
  .mitigationPage{
    padding-top: 15px;
  }
  .introContent .mitigationContent .mitigationImg {
    text-align: center;
  }
  .mitigationPage .videoHeading .workedHeading{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .mitigationForm .contactForm .btn-green {
    font-size: 16px;
    text-align: center;
  }
  .thankYouPopUp .thankYouContent .btn-green,
  .thankYouPopUp .thankYouContent .btn-white{
    font-size: 16px;
  }
  .weCanContent h3{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
  }
  .weCanContent p{
    font-size: 14px;
    line-height: 18px;
  }
  .thankYouPopUp .thankYouContent{
    padding: 30px;
  }

  .introContent .mitigationContent h3,
  .introContent .mitigationForm h3 {
    font-size: 18px;
    line-height: 24px;
  }

  .introContent .mitigationForm label {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 5px;
  }

  .introContent .mitigationText li {
    margin: 0 0 15px;
  }

  .introContent .mitigationForm.mitigationPadding {
    padding: 15px;
  }
}

@media only screen and (max-width:480px) {
  .thankYouPopUp .thankYouContent .btn-green,
  .thankYouPopUp .thankYouContent .btn-white{
    display: block;
    margin-left: 0;
    width: 210px;
  }
}