/* Outsourcing Page pdf */
.header {
  background-color: #0198cd;
  padding: 30px 0;
  margin-bottom: 30px;
}

.header.footer {
  margin-bottom: -20px;
  padding: 5px 0;
}

.outsourcingPage * {
  box-sizing: border-box;
}

.formSectionInfo h4 {
  font-size: 22px;
  color: #0099cb;
  margin-bottom: 5px;
  line-height: 50px;
}

.formSectionInfo {
  position: relative;
  padding-left: 75px;
  margin-bottom: 20px;
  min-height: 40px;
}

.formSectionInfo i {
  position: absolute;
  display: block;
  left: 0;
  zoom: 0.6;
  -moz-transform: scale(0.6);
  -moz-transform-origin: 0 0;
}

.formSectionInfo i img {
  width: 100%;
}

.iconhl-communications {
  background-position: -1px -336px;
  width: 86px;
  height: 86px;
}

.iconhl-geography {
  background-position: -1px -428px;
  width: 72px;
  height: 87px;
}

.iconhl-engagement {
  background-position: 0px -521px;
  width: 105px;
  height: 65px;
}

.iconhl-process {
  background-position: -1px -592px;
  width: 83px;
  height: 81px;
}

.iconhl-people {
  background-position: -1px -679px;
  width: 77px;
  height: 77px;
}

.iconhl-security {
  background-position: 0 -763px;
  width: 64px;
  height: 81px;
}

.outSourcePdf .formSectionss {
  margin-bottom: 60px;
}

.formSectionss{
  padding-top:60px;
}

.container .formSectionss:first-child{
  padding-top: 0;
}

.outSourcePdf .pointWrap {
  padding: 12px 20px;
  background-color: #f5f5f5;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin-bottom: 20px;
}

.outSourcePdf .pointWrap h5 {
  font-size: 22px;
  color: #777;
  margin: 0 0 5px 0;
  line-height: 50px;
}

.outSourcePdf .pointWrap li,
.outSourcePdf .pointWrap p {
  margin-bottom: 5px;
}

.outSourcePdf .answerWrap {
  margin-bottom: 15px;
}

.table-bordered {
  border: 1px solid #000;
}

.governance-padding{
  padding-top: 80px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #000;
}
[class^='iconhl-'],
[class*=' iconhl-'] {
  background-image: url('hartley-sprite.jpg');
  display: inline-block;
}





