/* Outsourcing Page */

.outsourcingPage * {
  box-sizing: border-box;
}

.outsourcingPage {
  background: url(../images/outsourcing/banner.jpg) no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding-top: 70px;
  position: relative;
}

.mvpFormWrap .beforeSubmit.submitted h5.marked,
.mvpFormWrap .beforeSubmit.submitted .ebookDownload,
.mvpFormWrap .beforeSubmit.submitted .formSummary,
.afterSubmit{
  display: none;
}
.mvpFormWrap .beforeSubmit.submitted .mvpForm{
  margin-bottom: 0;
}
.mvpFormWrap .beforeSubmit.submitted .afterSubmit{
  display: block;
}

.outsourcingPage .introContent {
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.25);
  margin-bottom: 100px;
  padding: 50px;
}

.outsourcingPage .introContentImg {
  float: right;
  text-align: center;
  width: 25%;
}

.outsourcingPage .introContentImg img {
  width: 75%;
  margin-bottom: 45px;
  padding-top: 40px;
}

.outsourcingPage .introContentText {
  float: left;
  margin-bottom: 10px;
  width: 75%;
}

.outsourcingPage .introContentText.mainText {
  margin-bottom: 20px;
}

.outsourcingPage h2 {
  color: #333;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 15px;
}
.mvpWrap .aboutText h3,
.outsourcingPage h3 {
  color: #333;
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  margin: 0 0 15px;
}

.outsourcingPage .introContent h3 {
  font-size: 25px;
  line-height: 40px;
}
.aboutText p,
.outsourcingPage p {
  color: #333;
  font-weight: 300;
  font-size: 17px;
  line-height: 26px;
  margin: 0 0 10px;
}

.outsourcingPage .aboutUs p {
  font-size: 19px;
  font-weight: 300;
  line-height: 33px;
}

.outsourcingPage .introContent a {
  text-decoration: none;
  display: inline-block;
  line-height: 32px;
  margin: 0 0 10px;
  font-weight: 300;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 16px;
  color: #fff;
  background: #64b55c;
  padding: 6px 15px;
  border: 1px solid #64b55c;
  text-transform: uppercase;
  transition: 0.2s all linear;
}

.outsourcingPage .introContent a:hover {
  border: 1px solid #4e9e46;
  background: #4e9e46;
  color: #fff;
}

p.formSummary {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  word-spacing: 2px;
}

p.formSummary span.divide {
  font-weight: 500;
  color: #ececec;
  margin: 0 25px;
}

p.formSummary span.text {
  line-height: 27px;
  vertical-align: top;
}

p.formSummary .glyphicon {
  font-size: 21px;
  margin-right: 8px;
  color: #09c;
}

.aboutText {
  border-right: 1px solid #e1e1e1;
  margin: 0 0 100px;
  padding: 0 58px 0 50px;
  width: 65%;
}

.outsourcingPage .introContent .downloadPdf{
  width: auto;
  margin: 30px 0 0;
} 

.weBelieveText {
  margin: 0 0 100px;
  padding-left: 65px;
  width: 35%;
}

.weBelieveText h3 {
  margin: 0 0 15px;
}

.conquerTitle{
  line-height: 28px;
}

.weBelieveText ul {
  list-style-type: none;
  padding: 0;
}

.weBelieveText li {
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 15px;
  position: relative;
  padding-left: 30px;
}

.weBelieveText li i {
  position: absolute;
  left: 0;
  top: 2px;
}

.iconhl-grayCheck{
  width: 22px;
  height: 21px;
  background-position: -73px -54px;
  position: absolute;
  left: 0;
  top: 2px;
}

.corner {
  bottom: -1px;
}

/*outsourcing-form style starts*/
.mvpWrap{
  position: relative;
}
.mvpInner,
.outsourceInner{
  padding-top: 70px;
}
.outsourcingPage h1,
.mvpInner h1,
.outsourceInner h1{
  margin: 0;
  text-align: center;
  font-size: 150px;
  margin-bottom: 10px;
  color: #0294c5;
  line-height: 1;
}
.mvpWrap,
.outSourceForm{
  background: url('../images/outsource-banner.jpg') no-repeat top center;
  background-size: 100% auto;
}
.mvpFormWrap,
.outformWrap{
  padding: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.25);
  margin-bottom: 100px;
}
.mvpFormWrap h2,
.outformWrap h2{
  line-height: 40px;
  font-size: 28px;
  margin: 0 0 20px;
}
.outformWrap > p{
  margin-bottom: 40px;
}
.outformWrap h4{
  font-size: 22px;
  color: #0099cb;
  margin-bottom: 5px;
  line-height: 50px;
}
.mvpEssentials p,
.outformWrap label,
.outformWrap p{
  font-size: 17px;
  line-height: 26px;
  font-weight: 300;
}
.mvpEssentials,
.outsourceChallenges{
  margin-bottom: 60px;
}
.outsourceChallenges p{
  margin-bottom: 15px;
  padding-left: 65px;
  position: relative;
}
.outsourceChallenges p span{
  position: absolute;
  left: 0;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 3px solid #64b55c;
}
.formSectionInfo{
  position: relative;
  padding-left: 75px;
  margin-bottom: 20px;
  min-height: 40px;
}
.formSectionInfo i{
  position: absolute;
  display: block;
  left: 0;
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
.formSectionInfo i img{
  width: 100%;
}
.outformWrap .checkbox{
  padding: 12px 20px;
  background-color: #f5f5f5;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
.customCheckbox{
  position: relative;
}
.customCheckbox .customCheck{
  position: absolute;
  left: 0;
  display: block;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 1px;
  z-index: 0;
}
.customCheckbox input[type="checkbox"]{
  opacity: 0;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  margin: 5px 0 0;
  z-index: 1;
  cursor: pointer;
}
.customCheckbox input[type="checkbox"] + .customCheck:after{
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 0px;
  height: 19px;
  width: 19px;
}
.customCheckbox input[type="checkbox"]:checked + .customCheck:after{
  content: "\2713";
  color: #77bb47;
  line-height: 19px;
  font-size: 19px;
  font-weight: 700;
}
.outSourceForm{
  position: relative;
}
.outsourceForm .customCheckbox{
  padding-left: 35px;
  display: block;
}
.formSections{
  margin-bottom: 60px;
}
.formSections .checkbox{
  margin-bottom: 25px;
}
.mvpSubmit,
.outsourcceSubmit{
  font-weight: 300;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 16px;
  height: 45px;
  color: #fff;
  width: auto;
  background: #64b55c;
  padding: 5px 20px;
  border: 1px solid #64b55c;
  transition: 0.2s all linear;
  text-transform: uppercase;
}
.mvpFormWrap .btn-green,
.mvpFormWrap .btn-white{
  height: auto;
  text-align: center;
  padding: 7px 20px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 300;
}
.mvpFormWrap .btn-green{
  margin-right: 15px;
}
.mvpFormWrap .btn-white{
  background: #fff;
  border: 1px solid #64b55c;
  border-radius: 10px;
  color: #64b55c;
  font-size: 18px;
  letter-spacing: 1px;
  transition: 0.2s all linear;
}
.startDownload{
  line-height: 35px;
  margin: 0 0 25px;
}
.orText{
  margin-right: 15px;
  display: inline-block;
  line-height: 45px;
}
.mvpFormWrap .btn-green:hover,
.mvpSubmit:hover,
.outsourcceSubmit:hover{
  background-color: #4e9e46;
  color: #fff;
  border: 1px solid #4e9e46;
}
.bottomTagline{
  font-size: 16px;
  margin-top: 30px;
}
.iconhl-communications{
  background-position: -1px -336px;
  width: 86px;
  height: 86px; 
}
.iconhl-geography{
  background-position: -1px -428px;
  width: 72px;
  height: 87px; 
}
.iconhl-engagement{
  background-position: 0px -521px;
  width: 105px;
  height: 65px; 
}
.iconhl-process{
  background-position: -1px -592px;
  width: 83px;
  height: 81px; 
}
.iconhl-people{
  background-position: -1px -679px;
  width: 77px;
  height: 77px; 
}
.iconhl-security{
  background-position: 0 -763px;
  width: 64px;
  height: 81px; 
}
/*outsourcing-form style ends*/

/*MVP style starts*/

.mvpForm{
  margin-bottom: 30px;
}

p.formSummary {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  word-spacing: 2px;
}
.mvpInner h1{
  font-size: 80px;
}
.mvpEssentials img{
  width: 100%;
}
.mvpEssentials h4{
  color: #0099cc;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.mvpEssentials h5{
  font-size: 17px;
  line-height: 19px;
  font-weight: 500;
}
.mvpEssentials .mainList li{
  font-weight: 300;
  font-size: 17px;
  line-height: 26px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
}
.mvpEssentials ul.subList{
  padding: 10px 0 0 18px;
  list-style-type: disc;
}
.mvpEssentials ul.subList li{
  padding-left: 0;
}
.mvpForm .form-control {
  height: 45px;
  box-shadow: none;
  border-radius: 10px;
}
.mvpForm .bootstrap-select.open>.dropdown-toggle.btn-default,
.mvpForm .bootstrap-select button{
  border: 1px solid #ccc;
}
.mvpForm label {
  font-size: 16px;
  font-weight: 300;
}
.mvpForm .form-group {
  margin-bottom: 30px;
}
.mvpForm .organizationField {
  /*margin-bottom: 15px;*/
}
.mvpForm h5{
  margin: 0 0 30px;
  font-weight: 300;
}
.mvpForm sup{
  font-size: 20px;
  top: 0px;
}
.phoneInline{
  display: inline-block;
  vertical-align: top;
}
.phoneInline.mvpextension,
.phoneInline.countryCode{
  width: 24%;
  margin-left: -3px;
}
.phoneInline.mvpPhone{
  margin-left: -2px;
  width: 50%;
}
.mvpWrap .aboutText{
  width: 100%;
  float: none;
  border-right: 0;
  padding: 0;
  margin-bottom: 60px;
}
.mvpWrap .ourWork {
  padding-top: 20px;
  border-top: 0;
  border-bottom: 1px solid #666;
  padding-bottom: 40px;
}
.mvpWrap .ourClient {
  margin-bottom: 30px;
}
.mvpWrap .ourClient li {
  margin-right: 30px;
}
.mvpWrap .ourClient h4 {
  margin: 0 0 28px;
}

.mvpWrap .ourClient li {
  float: left;
  line-height: 60px;
  margin-right: 70px;
}

.mvpWrap .ourClient li:last-child {
  margin-right: 0;
}

.mvpWrap .ourClient li img {
  height: 60px;
}

.mvpWrap .ourClient li:last-child img {
  height: 50px;
}

/*MVP style ends*/
@media only screen and (max-width:1199px) {
  /*outsourcing page style starts*/
  .outsourceInner h1,
  .outsourcingPage h1 {
    font-size: 124px;
    line-height: 126px;
  }
  /*outsourcing page style ends*/

  /*mvp style start*/
  .mvpEssentials h4{
    margin-top: 40px;
    line-height: 24px;
  }
  .mvpEssentials{
    margin-bottom: 30px;
  }
  .mvpInner h1 {
    font-size: 65px;
  }
  .mvpWrap .ourClient li {
    margin-right: 30px;
  }
  /*mvp style ends*/
}

@media only screen and (max-width:991px) {
  /*mvp style starts*/
  .mvpInner h1 {
    font-size: 50px;
  }
  .mvpWrap .ourClient li {
    width: 50%;
    margin: 0 0 30px;
  }
  /*mvp style ends*/
  .outsourceInner h1,
  .outsourcingPage h1 {
    font-size: 94px;
    line-height: 96px;
  }

  .outsourcingPage .introContentText.subText {
    width: 100%;
  }

  .outsourcingPage .introContent {
    margin-bottom: 80px;
    padding: 30px;
  }

  .outsourcingPage .introContentImg img {
    width: 100%;
    margin-bottom: 45px;
    padding-top: 20px;
  }

  .outsourcingPage p {
    font-size: 16px;
    line-height: 27px;
  }
  .outsourcingPage .aboutUs p {
    font-size: 16px;
    line-height: 26px;
  }

  .outsourcingPage .introContent h3 {
    font-size: 23px;
    line-height: 38px;
  }

  .outsourcingPage .introContent a {
    font-size: 16px;
    line-height: 33px;
  }

  p.formSummary {
    font-size: 14px;
    line-height: 24px;
  }

  p.formSummary span.divide {
    margin: 0 20px;
  }

  .aboutText {
    border-right: none;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 58px 50px;
    margin: 0 0 50px;
    width: 100%;
  }

  .weBelieveText {
    width: 100%;
    padding-left: 58px;
  }
  
  /*outsourcing-form style starts*/

  .outformWrap h2{
    line-height: 34px;
    font-size: 24px;
  }
  .outformWrap label, 
  .outformWrap p{
    font-size: 16px;
    line-height: 24px;
  }
  .mvpInner,
  .outsourcingPage,
  .outsourceInner {
    padding-top: 30px;
  }
  .outformWrap label{
    line-height: 32px;
  }
  .outformWrap .checkbox{
    padding: 10px 15px;
  }
  /*outsourcing-form style ends*/
}

@media only screen and (max-width:767px) {
  /*mvp starts*/
  .mvpWrap .ourClient li {
    width: 100%;
    padding: 0 15px;
  }
  .mvpWrap .ourClient {
    margin-bottom: 0;
  }
  .mvpWrap .videoHeading .workedHeading,
  .mvpWrap h4 {
    font-size: 23px;
    line-height: 30px;
    margin: 0;
  }
  
  .mvpWrap h4.startDownload {
    font-size: 16px;
    margin-bottom: 20px;  
  }
  
  .mvpFormWrap .btn-green, 
  .orText,
  .mvpFormWrap .btn-white{
    display: block;
    width: 100%;
    text-align: center;
  }

  .mvpEssentials h4{
    margin: 25px 0;
    font-size: 20px;
  }
  .mvpWrap .ourClient li:last-child img {
    height: 45px;
  }
  .mvpWrap .ourWork{
    margin-bottom: 0;
  }
  .mvpWrap .aboutText{
    padding: 30px 0 0;
    border: 0;
  }
  .mvpWrap .weBelieveText{
    padding-left: 0;
  }
  .mvpFormWrap{
    margin-bottom: 40px;
    padding: 30px 15px;
  }
  .mvpInner {
    padding-top: 20px;
  }
  .mvpInner h1 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  /*mvp ends*/
  /*outsourcing page style starts*/
  .outsourceInner h1,
  .outsourcingPage h1 {
    font-size: 38px;
    line-height: 1;
  }

  .outsourcingPage .introContent {
    padding: 35px 15px 25px;
  }

  .outsourcingPage h2 {
    font-size: 20px;
    line-height: 28px;
  }

  .outsourcingPage .introContent h3 {
    font-size: 18px;
    line-height: 38px;
  }

  .outsourcingPage p {
    font-size: 14px;
    line-height: 25px;
  }

  .outsourcingPage .introContent a {
    font-size: 16px;
    line-height: 33px;
    padding: 5px 15px;
  }

  .outsourcingPage .introContent a span {
    display: block;
  }

  p.formSummary span.divide {
    display: none;
  }

  p.formSummary span.text {
    display: block;
    margin: 0 0 6px;
  }

  .outsourcingPage .aboutText {
    padding: 0 0 30px;
    margin-bottom: 30px;
  }

  .outsourcingPage .weBelieveText {
    padding-left: 0;
    margin-bottom: 5  0px;
  }
  
  .glyphiconRelative{
    position: relative;
    display: block;
    padding-left: 35px;
    margin-bottom: 15px;
  }
  .glyphiconRelative .glyphicon{
    position: absolute;
    left: 0;
    top: 3px;
  }

  .outsourcingPage .weBelieveText li {
    font-size: 14px;
    line-height: 22px;
  }

  .outsourcingPage .introContentText {
    width: 100%;
  }

  .outsourcingPage .introContentImg {
    width: 100%;
  }

  .outsourcingPage .introContentImg img{
    margin-bottom: 30px;
    padding-top: 0;
    width: 146px;
  }
  .outsourcingPage .introContent {
    margin-bottom: 50px;
  }
  /*outsourcing page style ends*/

  /*outsourcing-form style starts*/
  .outsourceInner{
    padding-top: 0;
  }
  
  .outformWrap{
    padding: 15px;
    margin-bottom: 30px;
  }
  .outformWrap h2 {
    font-size: 20px;
    line-height: 28px;
  }
  .outformWrap p{
    font-size: 14px;
  }
  .formSectionInfo{
    padding-left: 0;
  }
  .formSectionInfo i{
    position: static;
  }
  .outformWrap h4 {
    font-size: 19px;
    line-height: 26px;
    margin: 5px 0 0;
  }
  .outsourceChallenges{
    margin-bottom: 40px;
  }
  .outsourceForm .customCheckbox {
    padding-left: 27px;
    line-height: 22px;  
  }
  .outformWrap label {
    font-size: 13px;
  }
  .outformWrap .checkbox{
    padding: 8px;
    margin-bottom: 15px;
  }
  .formSections {
    margin-bottom: 30px;
  }
  .customCheckbox .customCheck,
  .customCheckbox input[type="checkbox"]{
    margin-top: 0;
  }
  .outsourcceSubmit{
    font-size: 15px;
  }
  .bottomTagline {
    font-size: 15px;
    padding-left: 0;
    margin-bottom: 30px;
  }
  .formSectionInfo i{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
  }
  .mvpInner, .outsourcingPage, .outsourceInner {
    padding-top: 15px;
  }
  /*outsourcing-form style ends*/
}

@media only screen and (max-width:480px) {

  .outsourcceSubmit{
    width: 100%;
    height: auto;
  }
}