@media only screen and (max-width:1600px) {
  .banner {
    overflow: hidden;
  }

  .banner img {
    width: 120%;
    margin-left: -10%;
  }
}

@media only screen and (max-width:1300px) {
  .banner img {
    width: 130%;
    margin-left: -15%;
  }
}
@media only screen and (max-width:1199px) {
  #videoCarousel.commonVideoCarousel{
    min-height: 299px;
  }
}

@media only screen and (max-width:991px) {
  .frictionSimple .videoHeading h4{
    margin-top: 0;
  }
  #videoCarousel.commonVideoCarousel{
    min-height: 250px;
  }
  .videoHeading h4,
	.videoHeading .navigateArrows {
    float: none;
    margin-bottom: 10px;
  }

  .videoHeading .navigateArrows {
    margin-top: 0;
  }

  .videoHeading .navigateArrows a {
    margin: 0 20px 0 0;
  }

  .videoHeading, .videoImage {
    max-width: 100%;
  }

  .aboutUs h4 {
    font-size: 20px;
    line-height: 34px;
  }

  .aboutUs {
    top: -40px;
  }

  .aboutUs p {
    font-size: 16px;
    line-height: 26px;
  }

  .clientHeading,
  .frictionSimple .clientHeading {
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 1.1;
    margin-top: 4px;
    padding-bottom: 5px;
  }

  .weCanContent h3, .workedHeading {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .workDone h3 {
    font-size: 20px;
  }

  .contactUs h2 {
    font-size: 22px;
  }

  .contactIntro {
    line-height: 24px;
  }

  .contactUsWrap {
    margin-top: 0;
  }

  .contactForm .btn-green {
    width: auto;
    font-size: 14px;
    padding: 6px 10px;
  }

  .contactUs {
    padding-top: 40px;
  }

  #videoCarousel {
    margin-bottom: 40px;
  }

  #videoCarousel .item {
    min-height: 215px;
  }
}

@media only screen and (max-width:767px) {
  .videoHeading a.carousel-control {
    margin-left: 0;
    margin-right: 20px;
  }

  .address > div {
    margin-bottom: 30px;
  }

  #videoCarousel .item p {
    font-size: 16px;
  }

  #videoCarousel {
    margin-bottom: 30px;
  }

  .aboutUs {
    top: 0;
    margin-bottom: 50px;
  }

  .workDone {
    margin-bottom: 30px;
  }

  .clientList li {
    margin-bottom: 15px;
    min-height: 0;
    height: 60px;
  }

  .clientList.first li:nth-child(4) {
      margin-top: -10px;
      margin-bottom: 25px;
  }

  .videoHeading .workedHeading {
    float: left;
    line-height: 20px;
    font-size: 14px;
  }

  .videoHeading .navigateArrows {
      float: left;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .videoHeading a.carousel-control {
      margin-right: 10px;
  }

  #videoCarousel .item {
    min-height: 100%;
  }
  .header .logo, .header h5 {
    float: none !important;
    text-align: center;
  }

  .header .logo {
    width: 200px;
    margin: 0 auto 20px;
  }

  .copyright {
    font-weight: 300;
    line-height: 20px;
  }

  .socialLinks, .copyright {
    float: none;
    text-align: center;
  }

  .socialLinks li {
    float: none;
    display: inline-block;
  }

  .clientHeading,
  .makeItSimple .clientHeading {
    font-size: 18px;
    font-weight: 500;
  }

  .makeItSimple .clientHeading {
    margin-top: 0;
  }

  .clientHeading::after,
  .makeItSimple .clientHeading::after {
    margin-top: 10px;
  }

  .weCanList li {
    margin-bottom: 25px;
  }

  .weCanContent h3,
	.weCanContent p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  #videoCarousel.commonVideoCarousel {
    margin-bottom: 40px;
    min-height: auto;
  }
  .videoPopup{
    top:29%;
    left: 5%;
    width: 90%;
    transform: translate(0, 0);
  }
  .videoPopup .videoContainer{
    float: none;
    width: 100%;
  }
  .videoPopup .closePopup{
    right: -15px;
  }
}