body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.header {
  background-color: #0198cd;
  padding: 30px 0 0;
  margin: 0;
}

.banner {
  background-color: #0198cd;
  /*padding-top: 20px;*/
  /*height: 100vh;*/
  /*background: url(../images/banner.jpg) no-repeat #0099cc;*/
  background-size: auto 100%;
  position: relative;
}

.banner img {
  width: 100%;
}

.logo {
  width: 250px;
}

.logo a {
  display: block;
}

.logo img {
  width: 100%;
}

.header h5 {
  font-weight: 500;
  color: #005a78;
}
.help-inline{
  color: #f87272;
}
.has-error input{
  border: 2px solid #f87272;
}
/*.banner:after{
background: #0099cc;
content: '';
display: block;
height: 50%;
left: 0;
position: absolute;
right: 0;
z-index: -1;
-webkit-backface-visibility: hidden;
bottom: -20%;
-webkit-transform: skewY(-1.5deg);
transform: skewY(-5.5deg);
-webkit-transform-origin: 0 0;
transform-origin: 0 0;
}*/
.clientList li {
  height: 90px;
  margin-bottom: 30px;
}

.clientList li img {
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

.makeItSimple {
  position: relative;
}

.frictionSimple {
  padding-bottom: 75px;
}

.bottomtirangle img {
  width: 100%;
}

.clientHeading,
.frictionSimple .clientHeading {
  color: #0099cc;
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 27px;
  padding-bottom: 10px;
}

.frictionSimple .clientHeading {
  margin-top: 12px;
  word-spacing: inherit;
}

.clientHeading:after {
  content: "";
  display: block;
  height: 2px;
  background: #0099cc;
  width: 90px;
  margin-top: 20px;
}

.workedHeading {
  font-weight: 500;
  color: #333333;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 40px;
}

.aboutUs {
  position: relative;
  top: -70px;
}

.commonAbout.aboutUs {
  top: 0;
  margin-bottom: 58px;
}

.aboutUs h4 {
  font-size: 25px;
  font-weight: 400;
  line-height: 39px;
}

.aboutUs p {
  font-size: 19px;
  font-weight: 300;
  line-height: 33px;
}
.aboutUs p:last-child {
  margin-bottom: 29px;
}

.iconWrap {
  width: 100px;
  position: absolute;
}

[class^='iconhl-'],
[class*=' iconhl-'] {
  background-image: url('../images/sprite1x.png');
  display: inline-block;
}

.iconhl-monitor {
  background-position: 0 0;
  width: 90px;
  height: 49px;
}

.iconhl-mobile {
  background-position: 0 -54px;
  width: 68px;
  height: 70px;
}

.iconhl-testing {
  background-position: 0 -137px;
  width: 76px;
  height: 70px;
}

.iconhl-devops {
  background-position: 0 -217px;
  width: 90px;
  height: 51px;
}

.iconhl-uiux {
  background-position: 0 -265px;
  width: 88px;
  height: 66px;
}

.weCanContent p {
  font-size: 16px;
}

.weCanContent {
  width: 100%;
  padding-left: 110px;
}

.weCanContent h3 {
  font-size: 18px;
  color: #0099cc;
  margin: 0 0 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.weCanList {
  padding-top: 20px;
}

.weCanList li {
  margin-bottom: 40px;
  position: relative;
}

.weCanIcon-mobile {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.weCanIcon-monitor, .weCanIcon-devops, .weCanIcon-design, .weCanIcon-testing {
  width: 90%;
}

.ourWork {
  border-top: 1px solid #666;
  padding-top: 50px;
  margin-bottom: 40px;
}

.workDone h3, .workDone h5 {
  margin: 0 0 10px;
  color: #0099cc;
}

.contactUsWrap {
  background: #0099cc;
  margin-top: 0;
  position: relative;
}

.contactUs {
  color: #fff;
  position: relative;
}

.contactUs h2 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 26px;
  line-height: normal;
}

.contactIntro {
  letter-spacing: 1px;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 30px;
}

.address p {
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
}

.contactIcons {
  min-height: 30px;
}

.contactIcons [class^="icon-"], .contactIcons [class*=" icon-"] {
  display: inline-block;
}

.icon-location {
  width: 26px;
  height: 30px;
}

.icon-phone {
  width: 27px;
  height: 27px;
  background-position: -30px 0;
}

.icon-mail {
  width: 31px;
  height: 20px;
  background-position: -61px 0;
}

.contactForm {
  padding-top: 30px;
  margin-top: 10px;
  border-top: 1px solid #028bb8;
}

.contactForm h5 {
  margin-bottom: 55px;
  font-size: 20px;
}

.contactForm label {
  font-size: 16px;
  font-weight: 300;
}

.contactForm .form-control {
  height: 45px;
  box-shadow: none;
  border-radius: 10px;
}

.contactForm select {
  /*-webkit-appearance: none;*/;
}

.contactForm textarea.form-control {
  box-shadow: none;
  border-radius: 10px;
  border: 1px solid #fff;
  resize: none;
  height: 248px;
}

.contactForm .form-group {
  margin-bottom: 30px;
}

.btn-green {
  font-weight: 300;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 16px;
  height: 45px;
  color: #fff;
  width: 250px;
  background: #64b55c;
  padding: 6px 0;
  text-transform: uppercase;
  border: 1px solid #64b55c;
  transition: 0.2s all linear;
}

.contactForm .btn-green:hover {
  background: #4e9e46;
  color: #fff;
  border: 1px solid #4e9e46;
}

.clr {
  clear: both;
}

.corner img {
  width: 100%;
}

.corner {
  display: inline-block;
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 15%;
}

footer {
  background: #017ba3;
  padding: 20px 0 15px;
}

.copyright {
  float: left;
  color: #fff;
}

.socialLinks {
  float: right;
  margin-bottom: 0;
}

.socialLinks li {
  float: left;
  margin-left: 20px;
}

.socialLinks a {
  display: inline-block;
}

.icon-linkedIn {
  width: 33px;
  height: 33px;
  background-position: 0 -32px;
}

.icon-youtube {
  width: 27px;
  height: 33px;
  background-position: -35px -32px;
}

.icon-facebook {
  width: 33px;
  height: 33px;
  background-position: 0 -67px;
}

.icon-twitter {
  width: 33px;
  height: 33px;
  background-position: -34px -66px;
}

.icon-insta {
  width: 33px;
  height: 33px;
  background-position: 0 -101px;
}

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  background-image: url('../images/contact-sprite.png');
  background-size: 92px auto;
}

.videoHeading h4 {
  float: left;
}

.videoHeading .navigateArrows {
  position: relative;
  float: right;
  margin: 10px 0;
}

.mailTo {
  color: #fff;
  text-decoration: none;
}

.mailTo:hover {
  color: #f0f0f0;
  text-decoration: none;
}

.videoHeading .carousel-control {
  position: relative;
}

.videoHeading a.carousel-control {
  display: inline-block;
  vertical-align: top;
  background: none;
  width: 37px;
  margin-left: 17px;
  height: 37px;
  border-radius: 5px;
  border: 1px solid #666;
  cursor: pointer;
}

.videoHeading a.left.carousel-control:before,
.videoHeading a.right.carousel-control:before {
  content: "";
  display: block;
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  top: 50%;
  margin-top: -6px;
  left: 50%;
}

.videoHeading a.left.carousel-control:before {
  border-right: 6px solid #666;
  margin-left: -5px;
}

.videoHeading a.right.carousel-control:before {
  border-left: 6px solid #666;
  margin-left: -2px;
}

.videoHeading,
.videoImage {
  position: relative;
  max-width: 85%;
  display: block;
}

.videoImage:before {
  position: absolute;
  content: "";
  display: block;
  z-index: 10;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -20px;
  width: 65px;
  height: 41px;
  background: url('../images/video/video-icon2.png') no-repeat;
}

.carousel .item a {
  border-radius: 20px;
  margin-bottom: 0;
  overflow: hidden;
}

#videoCarousel .item p {
  font-size: 20px;
  line-height: 30px;
  color: #323232;
  letter-spacing: 1px;
}

#videoCarousel .testimonialWrap p {
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  letter-spacing: 1px;
  font-weight: 300;
}

#videoCarousel {
  margin-bottom: 84px;
  min-height: 304px;
}

#videoCarousel.commonVideoCarousel{
  margin-bottom: 79px;
}

.carousel-indicators {
  padding-top: 30px;
}

.carousel-indicators li {
  background-color: #ccc;
  height: 12px;
  width: 12px;
  margin: 0 4px;
  border: 0;
}

.carousel-indicators .active {
  margin: 0 5px;
  border: 0;
  background-color: #999;
}

#clientCarousel {
  padding-top: 20px;
}

#clientCarousel .item {
  padding-bottom: 40px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*@media only screen and (-webkit-min-device-pixel-ratio: 2),
not all,
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  [class^="icon-"],
  [class*=" icon-"]{
      background-image: url('../images/contact-sprite.png');
      background-size: 92px auto;
  }
}*/
/* video popup css start */
#popupBg {
  background: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  display: none;
}

.videoPopup {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background: #FFF;
  z-index: 9999;
  border: 1px solid #ccc;
}

.videoPopup .closePopup {
  display: block;
  font-size: 32px;
  position: absolute;
  right: -20px;
  top: -20px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  text-decoration: none;
  z-index: 1;
}

.videoPopup .videoContainer {
  float: left;
  width: 640px;
  -moz-box-shadow: 0 0 10px #222;
  -webkit-box-shadow: 0 0 10px #222;
  box-shadow: 0 0 10px #222;
}

.videoPopup .infoContainer {
  float: left;
  width: 260px;
  padding: 0 0 0 20px;
}

.videoPopup .infoContainer h3 {
  font-size: 20px;
  color: #393c43;
  font-weight: 600;
  margin: 50px 0 10px;
  line-height: 24px;
}

.videoPopup .infoContainer p {
  font-size: 14px;
  line-height: 22px;
  color: #333;
}

.videoPopup .socialSection {
  left: auto;
  right: 20px;
  width: 240px;
  position: absolute;
  bottom: 15px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  margin-left: 0;
}

.videoPopup .socialSection li {
  margin: 0 15px;
}

.videoLink {
  position: relative;
  display: block;
}

.playBtn {
  background: rgba(51, 51, 51, 0.45) none repeat scroll 0 0;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: 2;
}

.playBtn::before {
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  border-left: 15px solid #ffffff;
  border-top: 10px solid rgba(0, 0, 0, 0);
  content: "";
}

.videoLink .playBtn, .videoLink .playBtn:before {
  position: absolute;
}

.videoLink .playBtn:before {
  left: 40%;
  top: 31%;
}

.videoLink .playBtn {
  left: 40%;
  top: 37%;
}

.videoLink img {
  width: 100%;
  max-width: 100%;
}
/* video popup css end */

/* Bootstrap Select Custom style */
.bootstrap-select .btn,
.bootstrap-select .btn-default.active.focus, 
.bootstrap-select .btn-default.active:focus, 
.bootstrap-select .btn-default.active:hover, 
.bootstrap-select .btn-default:active.focus, 
.bootstrap-select .btn-default:active:focus, 
.bootstrap-select .btn-default:active:hover, 
.bootstrap-select.open>.dropdown-toggle.btn-default.focus, 
.bootstrap-select.open>.dropdown-toggle.btn-default:focus, 
.bootstrap-select.open>.dropdown-toggle.btn-default:hover,
.bootstrap-select .btn-default.active, 
.bootstrap-select .btn-default:active, 
.bootstrap-select.open>.dropdown-toggle.btn-default {
  height: 45px;
  border-radius: 10px;
  background: transparent;
  border: none;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select a:focus {
  outline: none !important;
}

.bootstrap-select.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.bootstrap-select .dropdown-menu {
  margin: 0;
  border: 1px solid #fff;
  border-radius: 0;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: auto !important;
}

.bootstrap-select .dropdown-menu>li>a:focus, 
.bootstrap-select .dropdown-menu>li>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #64b55c;
}

.bootstrap-select .dropdown-menu>li>a {
  padding: 5px 20px;
}

.contactForm .bootstrap-select.form-control.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#mailStatus {
  margin-bottom: 30px;
}

.header a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.bootstrap-select.btn-group .dropdown-menu.inner{
  max-height: 250px !important;
}

.frictionSimple .workDoneWrap {
  border-top: 1px solid #666;
  padding-top: 50px;
  margin-bottom: 40px;
}
/* Retina-specific Code for Featured In section */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2 / 1),
only screen and (min-device-pixel-ratio: 2) {
  [class^='iconhl-'],
  [class*=' iconhl-'] {
    background-image: url('../images/sprite2x.png');
    background-size: 106px auto;
  }
}