<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Outsourcing Simplified!</title>
    <%= csrf_meta_tags %>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="format-detection" content="telephone=no">

    <meta name="description" content="Hire us to build you a world-class iOS, Android, or Web App. We have expert designers and developers in your city. Let's chat.">
    <meta name="keywords" content="UX AND UI Design, web engineering, Product management, Mobile Development, Website Development, DevOps, Testing & Assurance, Artificial Intelligence, IoT, Outsourcing, offshoring, nearshore">
    <meta name="author" content="Hartley Lab">


    <!-- Social Share Metas -->
    <meta property="og:title" content="Hartley Lab | Ruby on Rails, Mobile Development and Design Company in Greenville SC, Atlanta GA, Singapore, Pune India"/>
    <meta property="og:image" content="https://www.hartleylab.com/images/fb_post.jpg"/>
    <meta property="og:site_name" content="Hartley Lab"/>
    <meta property="og:description" content="Hire us to build you a world-class iOS, Android, or Web App. We have expert designers and developers in your city. Let's chat."/>
    <link rel="shortcut icon" type="image/x-icon" href=<%= image_url('favicon.ico') %> >
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63388754-3', 'auto');
      ga('send', 'pageview');

    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
