<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf")  -%>
</head>
<body>
   <div class="container">
	  <h6 class="copyright"> &copy; 2017 atul Hartley Lab. All Rights Reserved.</h6>
	</div>
	<div>plain</div>
	<p>plain p</p</div>
</body>
</html>